# Setup

This is following [10 minutes to pandas](https://pandas.pydata.org/pandas-docs/stable/user_guide/10min.html) for pandas 1.4.3

In [1]:
import numpy as np
import pandas as pd

# Object creation

In [2]:
# Series - pass a list to pd.Series
s1 = pd.Series([1, 2, 3, np.nan, 5])

In [3]:
s1

0    1.0
1    2.0
2    3.0
3    NaN
4    5.0
dtype: float64

In [4]:
# create an index to use in the dataframe
# default frequency is D (day), so creates a DatetimeIndex of 10 days
dates = pd.date_range('20220619', periods=10)
dates

DatetimeIndex(['2022-06-19', '2022-06-20', '2022-06-21', '2022-06-22',
               '2022-06-23', '2022-06-24', '2022-06-25', '2022-06-26',
               '2022-06-27', '2022-06-28'],
              dtype='datetime64[ns]', freq='D')

just in case you are wondering, here's [all the "offset aliases"](https://pandas.pydata.org/docs/user_guide/timeseries.html#timeseries-offset-aliases) for Datetime

In [5]:
# Dataframe - pass a Numpy array
# create a 10 row, 4 col random number array, index by dates, give some column names
df = pd.DataFrame(np.random.randn(10, 4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2022-06-19 -0.339645  1.253979 -0.588547  0.597129
2022-06-20 -0.330447 -1.864228 -1.639560  1.202703
2022-06-21 -0.588707  0.145781 -0.451786 -0.432238
2022-06-22  0.066779  0.299338  2.478570  1.189002
2022-06-23 -0.316957 -0.850738  0.714471  0.302009
2022-06-24  0.067012  0.875210 -0.346312 -1.367178
2022-06-25  1.510326  0.504233  0.269827 -0.006536
2022-06-26  1.173316 -0.505798  0.172451 -2.057871
2022-06-27 -1.003383  1.725142  0.893788  0.463746
2022-06-28 -0.074087 -0.142834 -0.394704 -1.075930

In [6]:
# Create a dataframe by passing a dictionary of objects
# where each object can be converted into a series-like structure
df2 = pd.DataFrame(
    {
        "A": 1.0,
        "B": pd.Timestamp("20220619"),
        "C": pd.Series(1, index=list(range(6)), dtype="float32"),
        "D": np.array([3]*6, dtype="int32"),
        "E": pd.Categorical(["test", "train", "test", "train", "test", "train"]),
        "F": list("foofoo"),
        "G": "foo"
    }
)

df2

     A          B    C  D      E  F    G
0  1.0 2022-06-19  1.0  3   test  f  foo
1  1.0 2022-06-19  1.0  3  train  o  foo
2  1.0 2022-06-19  1.0  3   test  o  foo
3  1.0 2022-06-19  1.0  3  train  f  foo
4  1.0 2022-06-19  1.0  3   test  o  foo
5  1.0 2022-06-19  1.0  3  train  o  foo

In [7]:
# the datatype of each of the columns would be different
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
G            object
dtype: object

# Viewing Data

In [8]:
# top of the dataframe
df.head()

                   A         B         C         D
2022-06-19 -0.339645  1.253979 -0.588547  0.597129
2022-06-20 -0.330447 -1.864228 -1.639560  1.202703
2022-06-21 -0.588707  0.145781 -0.451786 -0.432238
2022-06-22  0.066779  0.299338  2.478570  1.189002
2022-06-23 -0.316957 -0.850738  0.714471  0.302009

In [9]:
# bottom 3 records of the dataframe
df.tail(3)

                   A         B         C         D
2022-06-26  1.173316 -0.505798  0.172451 -2.057871
2022-06-27 -1.003383  1.725142  0.893788  0.463746
2022-06-28 -0.074087 -0.142834 -0.394704 -1.075930

In [10]:
# index of the df
df.index

DatetimeIndex(['2022-06-19', '2022-06-20', '2022-06-21', '2022-06-22',
               '2022-06-23', '2022-06-24', '2022-06-25', '2022-06-26',
               '2022-06-27', '2022-06-28'],
              dtype='datetime64[ns]', freq='D')

In [11]:
# columns of the df
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [12]:
# .to_numpy gives a NumPy representation of the dataframe
# this is expensive if all columns are of different data type
df.to_numpy()

array([[-0.33964535,  1.25397917, -0.58854747,  0.59712922],
       [-0.33044656, -1.86422771, -1.63956013,  1.20270294],
       [-0.58870682,  0.14578118, -0.45178609, -0.43223758],
       [ 0.06677931,  0.29933809,  2.47856978,  1.18900219],
       [-0.31695709, -0.85073792,  0.71447114,  0.30200934],
       [ 0.06701231,  0.87521039, -0.3463119 , -1.3671784 ],
       [ 1.51032646,  0.50423292,  0.26982653, -0.00653554],
       [ 1.17331589, -0.50579844,  0.17245057, -2.05787113],
       [-1.00338281,  1.72514181,  0.89378794,  0.46374567],
       [-0.07408744, -0.14283396, -0.39470396, -1.07593027]])

In [13]:
df2.to_numpy()

array([[1.0, Timestamp('2022-06-19 00:00:00'), 1.0, 3, 'test', 'f',
        'foo'],
       [1.0, Timestamp('2022-06-19 00:00:00'), 1.0, 3, 'train', 'o',
        'foo'],
       [1.0, Timestamp('2022-06-19 00:00:00'), 1.0, 3, 'test', 'o',
        'foo'],
       [1.0, Timestamp('2022-06-19 00:00:00'), 1.0, 3, 'train', 'f',
        'foo'],
       [1.0, Timestamp('2022-06-19 00:00:00'), 1.0, 3, 'test', 'o',
        'foo'],
       [1.0, Timestamp('2022-06-19 00:00:00'), 1.0, 3, 'train', 'o',
        'foo']], dtype=object)

In [14]:
# quick summary stats
df.describe()

               A          B          C          D
count  10.000000  10.000000  10.000000  10.000000
mean    0.016421   0.144009   0.110820  -0.118516
std     0.770849   1.051329   1.102862   1.097021
min    -1.003383  -1.864228  -1.639560  -2.057871
25%    -0.337346  -0.415057  -0.437516  -0.915007
50%    -0.195522   0.222560  -0.086931   0.147737
75%     0.066954   0.782466   0.603310   0.563783
max     1.510326   1.725142   2.478570   1.202703

1. **count** = Count number of non-NA/null observations
1. **max** = Maximum of the values in the object
1. **min** = Minimum of the values in the object
1. **mean** = Mean of the values
1. **std** = Standard deviation of the observations
1. **25%** = Default lower percentile
1. **50%** = 50 percentile - same as the median 
1. **75%** = Default upper percentile

In [15]:
# change the percentiles
df.describe(percentiles=[.1, .5, .9])

               A          B          C          D
count  10.000000  10.000000  10.000000  10.000000
mean    0.016421   0.144009   0.110820  -0.118516
std     0.770849   1.051329   1.102862   1.097021
min    -1.003383  -1.864228  -1.639560  -2.057871
10%    -0.630174  -0.952087  -0.693649  -1.436248
50%    -0.195522   0.222560  -0.086931   0.147737
90%     1.207017   1.301095   1.052266   1.190372
max     1.510326   1.725142   2.478570   1.202703

In [16]:
# E, F, G in d2 are not numeric, so do not come up in describe()
df2.describe()

         A    C    D
count  6.0  6.0  6.0
mean   1.0  1.0  3.0
std    0.0  0.0  0.0
min    1.0  1.0  3.0
25%    1.0  1.0  3.0
50%    1.0  1.0  3.0
75%    1.0  1.0  3.0
max    1.0  1.0  3.0

In [17]:
# transpose the data
# turn rows to columns and vice versa
df.T

,2022-06-19,2022-06-20,2022-06-21,2022-06-22,2022-06-23,2022-06-24,2022-06-25,2022-06-26,2022-06-27,2022-06-28
A,-0.339645,-0.330447,-0.588707,0.066779,-0.316957,0.067012,1.510326,1.173316,-1.003383,-0.074087
B,1.253979,-1.864228,0.145781,0.299338,-0.850738,0.875210,0.504233,-0.505798,1.725142,-0.142834
C,-0.588547,-1.639560,-0.451786,2.478570,0.714471,-0.346312,0.269827,0.172451,0.893788,-0.394704
D,0.597129,1.202703,-0.432238,1.189002,0.302009,-1.367178,-0.006536,-2.057871,0.463746,-1.075930

### [Axis in pandas](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.set_axis.html?highlight=set_ax#pandas.DataFrame.set_axis)

```axis{0 or ‘index’, 1 or ‘columns’}```

Always remember that when you specify:
* ```axis=0``` or ```axis='index'``` you indicate that the operation should be along the _index_ (aka across the rows). More often than not indexes will go from top to bottom (vertically), but sometimes they may not (for e.g. if you use columns as index or when you have hierarchical or multi-index data).
* ```axis=1``` or ```axis='columns'``` indicates the operation is along the columns

When in doubt use the explicit version ```'index'``` or ```'columns'``` instead of ```0``` or ```1```

In [18]:
# sort along the axis - 1 = horizontal
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2022-06-19  0.597129 -0.588547  1.253979 -0.339645
2022-06-20  1.202703 -1.639560 -1.864228 -0.330447
2022-06-21 -0.432238 -0.451786  0.145781 -0.588707
2022-06-22  1.189002  2.478570  0.299338  0.066779
2022-06-23  0.302009  0.714471 -0.850738 -0.316957
2022-06-24 -1.367178 -0.346312  0.875210  0.067012
2022-06-25 -0.006536  0.269827  0.504233  1.510326
2022-06-26 -2.057871  0.172451 -0.505798  1.173316
2022-06-27  0.463746  0.893788  1.725142 -1.003383
2022-06-28 -1.075930 -0.394704 -0.142834 -0.074087

In [19]:
# sort along the axis - 0 = vertical
df.sort_index(axis=0, ascending=False)

                   A         B         C         D
2022-06-28 -0.074087 -0.142834 -0.394704 -1.075930
2022-06-27 -1.003383  1.725142  0.893788  0.463746
2022-06-26  1.173316 -0.505798  0.172451 -2.057871
2022-06-25  1.510326  0.504233  0.269827 -0.006536
2022-06-24  0.067012  0.875210 -0.346312 -1.367178
2022-06-23 -0.316957 -0.850738  0.714471  0.302009
2022-06-22  0.066779  0.299338  2.478570  1.189002
2022-06-21 -0.588707  0.145781 -0.451786 -0.432238
2022-06-20 -0.330447 -1.864228 -1.639560  1.202703
2022-06-19 -0.339645  1.253979 -0.588547  0.597129

In [20]:
# sort ascending by values in a column
df.sort_values(by="A")

                   A         B         C         D
2022-06-27 -1.003383  1.725142  0.893788  0.463746
2022-06-21 -0.588707  0.145781 -0.451786 -0.432238
2022-06-19 -0.339645  1.253979 -0.588547  0.597129
2022-06-20 -0.330447 -1.864228 -1.639560  1.202703
2022-06-23 -0.316957 -0.850738  0.714471  0.302009
2022-06-28 -0.074087 -0.142834 -0.394704 -1.075930
2022-06-22  0.066779  0.299338  2.478570  1.189002
2022-06-24  0.067012  0.875210 -0.346312 -1.367178
2022-06-26  1.173316 -0.505798  0.172451 -2.057871
2022-06-25  1.510326  0.504233  0.269827 -0.006536

In [21]:
# sort by non-numerical values
df2.sort_values(by="F", ascending=False)

     A          B    C  D      E  F    G
1  1.0 2022-06-19  1.0  3  train  o  foo
2  1.0 2022-06-19  1.0  3   test  o  foo
4  1.0 2022-06-19  1.0  3   test  o  foo
5  1.0 2022-06-19  1.0  3  train  o  foo
0  1.0 2022-06-19  1.0  3   test  f  foo
3  1.0 2022-06-19  1.0  3  train  f  foo

In [22]:
# sort by two or more columns
df2.sort_values(by=["F", "E"])

     A          B    C  D      E  F    G
0  1.0 2022-06-19  1.0  3   test  f  foo
3  1.0 2022-06-19  1.0  3  train  f  foo
2  1.0 2022-06-19  1.0  3   test  o  foo
4  1.0 2022-06-19  1.0  3   test  o  foo
1  1.0 2022-06-19  1.0  3  train  o  foo
5  1.0 2022-06-19  1.0  3  train  o  foo

# Selection

For production prefer the following instead of other data access methods (typical python methods like ["col"] or [a:b] slices etc.):

```.at, .iat, .loc and .iloc.```

## Getting

In [23]:
# selecting a single column returns a Series object
df["A"]

2022-06-19   -0.339645
2022-06-20   -0.330447
2022-06-21   -0.588707
2022-06-22    0.066779
2022-06-23   -0.316957
2022-06-24    0.067012
2022-06-25    1.510326
2022-06-26    1.173316
2022-06-27   -1.003383
2022-06-28   -0.074087
Freq: D, Name: A, dtype: float64

In [24]:
# selecting a slice
df[1:5]

                   A         B         C         D
2022-06-20 -0.330447 -1.864228 -1.639560  1.202703
2022-06-21 -0.588707  0.145781 -0.451786 -0.432238
2022-06-22  0.066779  0.299338  2.478570  1.189002
2022-06-23 -0.316957 -0.850738  0.714471  0.302009

## Selection by label

In [25]:
# selecting based on a label
df.loc[dates[0]]

A   -0.339645
B    1.253979
C   -0.588547
D    0.597129
Name: 2022-06-19 00:00:00, dtype: float64

In [26]:
# select on a multi-axis by lable
# I honestly do not know what the comment above means...help!
df.loc[:, ["A", "B"]]

                   A         B
2022-06-19 -0.339645  1.253979
2022-06-20 -0.330447 -1.864228
2022-06-21 -0.588707  0.145781
2022-06-22  0.066779  0.299338
2022-06-23 -0.316957 -0.850738
2022-06-24  0.067012  0.875210
2022-06-25  1.510326  0.504233
2022-06-26  1.173316 -0.505798
2022-06-27 -1.003383  1.725142
2022-06-28 -0.074087 -0.142834

In [27]:
# specific index value results in reduction of dimensions
res = df.loc["2022-06-20"]
print(res)
print("res.shape = ", res.shape, " vs. df.shape = ", df.shape)

A   -0.330447
B   -1.864228
C   -1.639560
D    1.202703
Name: 2022-06-20 00:00:00, dtype: float64
res.shape =  (4,)  vs. df.shape =  (10, 4)

In [28]:
# get to a specific scalar:
#
# method one
df.loc[dates[0], "A"]

-0.339645345588022

In [29]:
#
# method two (slightly faster than method one)
df.at[dates[0], "A"]

-0.339645345588022

## Selection by position

In [30]:
df.iloc[2]

A   -0.588707
B    0.145781
C   -0.451786
D   -0.432238
Name: 2022-06-21 00:00:00, dtype: float64

In [31]:
# slices - similar to NumPy / Python - [row:slice, col:slice]
df.iloc[1:5, 0:2]

                   A         B
2022-06-20 -0.330447 -1.864228
2022-06-21 -0.588707  0.145781
2022-06-22  0.066779  0.299338
2022-06-23 -0.316957 -0.850738

In [32]:
# by list of locations - similar to NumPy / Python - [[list of rows], [list of cols]]
df.iloc[[0, 1, 2, 6], [0, 2]]

                   A         C
2022-06-19 -0.339645 -0.588547
2022-06-20 -0.330447 -1.639560
2022-06-21 -0.588707 -0.451786
2022-06-25  1.510326  0.269827

In [33]:
# by list of locations - similar to NumPy / Python - [[list of rows], [list of cols]]
# change the order of columns, repeact a column
df.iloc[[0, 1, 2, 6], [2, 1, 0, 2]]

                   C         B         A         C
2022-06-19 -0.588547  1.253979 -0.339645 -0.588547
2022-06-20 -1.639560 -1.864228 -0.330447 -1.639560
2022-06-21 -0.451786  0.145781 -0.588707 -0.451786
2022-06-25  0.269827  0.504233  1.510326  0.269827

In [34]:
# slice rows explicitly, keep all columns
df.iloc[[1, 2], :]

                   A         B         C         D
2022-06-20 -0.330447 -1.864228 -1.639560  1.202703
2022-06-21 -0.588707  0.145781 -0.451786 -0.432238

In [35]:
# slice columns, keep all rows
df.iloc[:, [2, 3]]

                   C         D
2022-06-19 -0.588547  0.597129
2022-06-20 -1.639560  1.202703
2022-06-21 -0.451786 -0.432238
2022-06-22  2.478570  1.189002
2022-06-23  0.714471  0.302009
2022-06-24 -0.346312 -1.367178
2022-06-25  0.269827 -0.006536
2022-06-26  0.172451 -2.057871
2022-06-27  0.893788  0.463746
2022-06-28 -0.394704 -1.075930

In [36]:
# everything, because you can
df.iloc[:, :]

                   A         B         C         D
2022-06-19 -0.339645  1.253979 -0.588547  0.597129
2022-06-20 -0.330447 -1.864228 -1.639560  1.202703
2022-06-21 -0.588707  0.145781 -0.451786 -0.432238
2022-06-22  0.066779  0.299338  2.478570  1.189002
2022-06-23 -0.316957 -0.850738  0.714471  0.302009
2022-06-24  0.067012  0.875210 -0.346312 -1.367178
2022-06-25  1.510326  0.504233  0.269827 -0.006536
2022-06-26  1.173316 -0.505798  0.172451 -2.057871
2022-06-27 -1.003383  1.725142  0.893788  0.463746
2022-06-28 -0.074087 -0.142834 -0.394704 -1.075930

In [37]:
# get to a scalar (2 methods, just like before)
#
# method one: use iloc
df.iloc[1, 2]

-1.6395601265081183

In [38]:
#
# method two: use iat
df.iat[1, 2]

-1.6395601265081183

## Boolean Indexing

In [39]:
# use a value found in a single col to get data
df[df["A"] > 0]

                   A         B         C         D
2022-06-22  0.066779  0.299338  2.478570  1.189002
2022-06-24  0.067012  0.875210 -0.346312 -1.367178
2022-06-25  1.510326  0.504233  0.269827 -0.006536
2022-06-26  1.173316 -0.505798  0.172451 -2.057871

In [40]:
# boolean across the entire DF - vals that don't match go NaN
df[df > 0]

                   A         B         C         D
2022-06-19       NaN  1.253979       NaN  0.597129
2022-06-20       NaN       NaN       NaN  1.202703
2022-06-21       NaN  0.145781       NaN       NaN
2022-06-22  0.066779  0.299338  2.478570  1.189002
2022-06-23       NaN       NaN  0.714471  0.302009
2022-06-24  0.067012  0.875210       NaN       NaN
2022-06-25  1.510326  0.504233  0.269827       NaN
2022-06-26  1.173316       NaN  0.172451       NaN
2022-06-27       NaN  1.725142  0.893788  0.463746
2022-06-28       NaN       NaN       NaN       NaN

In [41]:
# add another column
df11 = df.copy()
df11["E"] = ["one", "two", "three", "four",
             "two", "five", "one", "two", "three", "four"]
df11

                   A         B         C         D      E
2022-06-19 -0.339645  1.253979 -0.588547  0.597129    one
2022-06-20 -0.330447 -1.864228 -1.639560  1.202703    two
2022-06-21 -0.588707  0.145781 -0.451786 -0.432238  three
2022-06-22  0.066779  0.299338  2.478570  1.189002   four
2022-06-23 -0.316957 -0.850738  0.714471  0.302009    two
2022-06-24  0.067012  0.875210 -0.346312 -1.367178   five
2022-06-25  1.510326  0.504233  0.269827 -0.006536    one
2022-06-26  1.173316 -0.505798  0.172451 -2.057871    two
2022-06-27 -1.003383  1.725142  0.893788  0.463746  three
2022-06-28 -0.074087 -0.142834 -0.394704 -1.075930   four

In [42]:
# the isin() query - basically the in clause
df11[df11["E"].isin(["two", "five"])]

                   A         B         C         D     E
2022-06-20 -0.330447 -1.864228 -1.639560  1.202703   two
2022-06-23 -0.316957 -0.850738  0.714471  0.302009   two
2022-06-24  0.067012  0.875210 -0.346312 -1.367178  five
2022-06-26  1.173316 -0.505798  0.172451 -2.057871   two

## Setting values

In [43]:
# matching indexes auto-aligns values
s1 = pd.Series(range(11, 21), index=pd.date_range('20220619', periods=10))
s1

2022-06-19    11
2022-06-20    12
2022-06-21    13
2022-06-22    14
2022-06-23    15
2022-06-24    16
2022-06-25    17
2022-06-26    18
2022-06-27    19
2022-06-28    20
Freq: D, dtype: int64

In [44]:
df["F"] = s1
df

                   A         B         C         D   F
2022-06-19 -0.339645  1.253979 -0.588547  0.597129  11
2022-06-20 -0.330447 -1.864228 -1.639560  1.202703  12
2022-06-21 -0.588707  0.145781 -0.451786 -0.432238  13
2022-06-22  0.066779  0.299338  2.478570  1.189002  14
2022-06-23 -0.316957 -0.850738  0.714471  0.302009  15
2022-06-24  0.067012  0.875210 -0.346312 -1.367178  16
2022-06-25  1.510326  0.504233  0.269827 -0.006536  17
2022-06-26  1.173316 -0.505798  0.172451 -2.057871  18
2022-06-27 -1.003383  1.725142  0.893788  0.463746  19
2022-06-28 -0.074087 -0.142834 -0.394704 -1.075930  20

In [45]:
# setting values by label and position
# first let's make a quick copy
df12 = df.copy()
df12

                   A         B         C         D   F
2022-06-19 -0.339645  1.253979 -0.588547  0.597129  11
2022-06-20 -0.330447 -1.864228 -1.639560  1.202703  12
2022-06-21 -0.588707  0.145781 -0.451786 -0.432238  13
2022-06-22  0.066779  0.299338  2.478570  1.189002  14
2022-06-23 -0.316957 -0.850738  0.714471  0.302009  15
2022-06-24  0.067012  0.875210 -0.346312 -1.367178  16
2022-06-25  1.510326  0.504233  0.269827 -0.006536  17
2022-06-26  1.173316 -0.505798  0.172451 -2.057871  18
2022-06-27 -1.003383  1.725142  0.893788  0.463746  19
2022-06-28 -0.074087 -0.142834 -0.394704 -1.075930  20

In [46]:
# set by label
df12.at[dates[0], "A"] = 0
# set by position
df12.iat[0, 1] = 0
df12

                   A         B         C         D   F
2022-06-19  0.000000  0.000000 -0.588547  0.597129  11
2022-06-20 -0.330447 -1.864228 -1.639560  1.202703  12
2022-06-21 -0.588707  0.145781 -0.451786 -0.432238  13
2022-06-22  0.066779  0.299338  2.478570  1.189002  14
2022-06-23 -0.316957 -0.850738  0.714471  0.302009  15
2022-06-24  0.067012  0.875210 -0.346312 -1.367178  16
2022-06-25  1.510326  0.504233  0.269827 -0.006536  17
2022-06-26  1.173316 -0.505798  0.172451 -2.057871  18
2022-06-27 -1.003383  1.725142  0.893788  0.463746  19
2022-06-28 -0.074087 -0.142834 -0.394704 -1.075930  20

In [47]:
# kinda bigger replacement
df12.loc[:, "D"] = np.array([5]*len(df))
df12

                   A         B         C  D   F
2022-06-19  0.000000  0.000000 -0.588547  5  11
2022-06-20 -0.330447 -1.864228 -1.639560  5  12
2022-06-21 -0.588707  0.145781 -0.451786  5  13
2022-06-22  0.066779  0.299338  2.478570  5  14
2022-06-23 -0.316957 -0.850738  0.714471  5  15
2022-06-24  0.067012  0.875210 -0.346312  5  16
2022-06-25  1.510326  0.504233  0.269827  5  17
2022-06-26  1.173316 -0.505798  0.172451  5  18
2022-06-27 -1.003383  1.725142  0.893788  5  19
2022-06-28 -0.074087 -0.142834 -0.394704  5  20

In [48]:
# setting values using a boolean selection (aka where clause)
df12[df12 > 0] = -df12
df12

                   A         B         C  D   F
2022-06-19  0.000000  0.000000 -0.588547 -5 -11
2022-06-20 -0.330447 -1.864228 -1.639560 -5 -12
2022-06-21 -0.588707 -0.145781 -0.451786 -5 -13
2022-06-22 -0.066779 -0.299338 -2.478570 -5 -14
2022-06-23 -0.316957 -0.850738 -0.714471 -5 -15
2022-06-24 -0.067012 -0.875210 -0.346312 -5 -16
2022-06-25 -1.510326 -0.504233 -0.269827 -5 -17
2022-06-26 -1.173316 -0.505798 -0.172451 -5 -18
2022-06-27 -1.003383 -1.725142 -0.893788 -5 -19
2022-06-28 -0.074087 -0.142834 -0.394704 -5 -20

# Missing Data

### _reindex_
change/add/delete index on a specified axis, returns a new dataframe

In [49]:
df13 = df.reindex(index=dates[0:4], columns=list(df.columns)+["G"])
df13

                   A         B         C         D   F   G
2022-06-19 -0.339645  1.253979 -0.588547  0.597129  11 NaN
2022-06-20 -0.330447 -1.864228 -1.639560  1.202703  12 NaN
2022-06-21 -0.588707  0.145781 -0.451786 -0.432238  13 NaN
2022-06-22  0.066779  0.299338  2.478570  1.189002  14 NaN

### handling missing data
1. _```np.nan```_
1. _```pandas.isna()```_
1. ```df.dropna()```
1. ```df.fillna()```

In [50]:
# missing data in pandas is np.nan
df13.iat[1, 0] = np.nan
df13.iloc[1:, 5] = np.random.randint(1)
df13

                   A         B         C         D   F    G
2022-06-19 -0.339645  1.253979 -0.588547  0.597129  11  NaN
2022-06-20       NaN -1.864228 -1.639560  1.202703  12  0.0
2022-06-21 -0.588707  0.145781 -0.451786 -0.432238  13  0.0
2022-06-22  0.066779  0.299338  2.478570  1.189002  14  0.0

In [51]:
# get a boolean mask where values are NaN
df131 = pd.isna(df13)
df131

                A      B      C      D      F      G
2022-06-19  False  False  False  False  False   True
2022-06-20   True  False  False  False  False  False
2022-06-21  False  False  False  False  False  False
2022-06-22  False  False  False  False  False  False

In [52]:
# or just
pd.isna(df13)

                A      B      C      D      F      G
2022-06-19  False  False  False  False  False   True
2022-06-20   True  False  False  False  False  False
2022-06-21  False  False  False  False  False  False
2022-06-22  False  False  False  False  False  False

In [53]:
# the original is still there
df13

                   A         B         C         D   F    G
2022-06-19 -0.339645  1.253979 -0.588547  0.597129  11  NaN
2022-06-20       NaN -1.864228 -1.639560  1.202703  12  0.0
2022-06-21 -0.588707  0.145781 -0.451786 -0.432238  13  0.0
2022-06-22  0.066779  0.299338  2.478570  1.189002  14  0.0

In [54]:
# we are going to drop / replace values now, let's make a couple of copies of the dataframe
df132 = df13.copy()
df132

                   A         B         C         D   F    G
2022-06-19 -0.339645  1.253979 -0.588547  0.597129  11  NaN
2022-06-20       NaN -1.864228 -1.639560  1.202703  12  0.0
2022-06-21 -0.588707  0.145781 -0.451786 -0.432238  13  0.0
2022-06-22  0.066779  0.299338  2.478570  1.189002  14  0.0

In [55]:
# drop rows/columns that have missing data
# by default it returns a new dataframe, you may want to specify inplace=True for modifying current dataframe:
df_no_na = df132.dropna(how="any")
# how=‘any’ : If any NA values are present, drop that row or column.
# how=‘all’ : If all values are NA, drop that row or column.

In [56]:
# all rows/cols with missing data stripped
df_no_na

                   A         B         C         D   F    G
2022-06-21 -0.588707  0.145781 -0.451786 -0.432238  13  0.0
2022-06-22  0.066779  0.299338  2.478570  1.189002  14  0.0

In [57]:
# original still intact
df132

                   A         B         C         D   F    G
2022-06-19 -0.339645  1.253979 -0.588547  0.597129  11  NaN
2022-06-20       NaN -1.864228 -1.639560  1.202703  12  0.0
2022-06-21 -0.588707  0.145781 -0.451786 -0.432238  13  0.0
2022-06-22  0.066779  0.299338  2.478570  1.189002  14  0.0

In [58]:
# drop missing data from original
df132.dropna(how="any", inplace=True)
df132

                   A         B         C         D   F    G
2022-06-21 -0.588707  0.145781 -0.451786 -0.432238  13  0.0
2022-06-22  0.066779  0.299338  2.478570  1.189002  14  0.0

In [59]:
# fill missing data
df133 = df13.copy()
df133.fillna(np.pi*1000)

                      A         B         C         D   F            G
2022-06-19    -0.339645  1.253979 -0.588547  0.597129  11  3141.592654
2022-06-20  3141.592654 -1.864228 -1.639560  1.202703  12     0.000000
2022-06-21    -0.588707  0.145781 -0.451786 -0.432238  13     0.000000
2022-06-22     0.066779  0.299338  2.478570  1.189002  14     0.000000

# Align and Join

There needs to be a bigger notebook for this topic.
You need to know there's "joins" in Pandas just like in the SQL world, 
like join and left join and right join and inner and outer and all that...

## Create two datasets with _mismatched_ indexes

In [60]:
# date range indexes
idx1 = pd.date_range('2022-01-01',periods = 10)
# 2022-01-01', '2022-01-02' don't exist in idx2
# '2022-01-11', '2022-01-12' don't exist in idx1
idx2 = pd.date_range('2022-01-03',periods = 10)

In [61]:
# dataframes from indexes
d1 = pd.DataFrame(index = idx1, data = 
    {
        'A': np.random.rand(10),
        'B': np.random.randint(1, high=25, size = 10)
    }
)

d2 = pd.DataFrame(index = idx2, data = 
    {
        'A': np.random.rand(10),
        'B': np.random.randint(1, high=25, size = 10)
    }
)

In [62]:
# we gon need to display both data frames side by side, so...
from IPython.display import display_html 
def render_df_side_by_side(a,b):
    a_styler = a.style.set_table_attributes("style='display:inline'")
    b_styler = b.style.set_table_attributes("style='display:inline'")
    display_html(a_styler._repr_html_()+b_styler._repr_html_(), raw=True)

In [63]:
render_df_side_by_side(d1,d2)

,A,B
2022-01-01 00:00:00,0.475092,21
2022-01-02 00:00:00,0.703318,21
2022-01-03 00:00:00,0.035437,17
2022-01-04 00:00:00,0.094652,16
2022-01-05 00:00:00,0.807258,14
2022-01-06 00:00:00,0.768598,11
2022-01-07 00:00:00,0.894940,9
2022-01-08 00:00:00,0.131010,19
2022-01-09 00:00:00,0.098831,5
2022-01-10 00:00:00,0.344056,14
,A,B
2022-01-03 00:00:00,0.463448,7
2022-01-04 00:00:00,0.171931,1
2022-01-05 00:00:00,0.009115,22
2022-01-06 00:00:00,0.247119,13
2022-01-07 00:00:00,0.664701,20
2022-01-08 00:00:00,0.274951,19
2022-01-09 00:00:00,0.443419,11
2022-01-10 00:00:00,0.186490,4
2022-01-11 00:00:00,0.605054,12
2022-01-12 00:00:00,0.306780,13

The above trick of rendering 2 dataframes side-by-side was from [this](https://stackoverflow.com/questions/38783027/jupyter-notebook-display-two-pandas-tables-side-by-side) stackoverflow question.

Table rendering/styling options is [a bigger discussion](https://pandas.pydata.org/pandas-docs/stable/user_guide/style.html#) to be tackled later.

## .add, .sub, .mul, .div etc.

flexible wrappers (```add, sub, mul, div, mod, pow```) to arithmetic operators: ```+, -, *, /, //, %, **```

In [85]:
# the + operation aligns indexes to create a UNION of indexes
d3 = d1+d2
d4 = d1.sub(d2) #equivalent to d1-d2
d5 = d1*d2
d6 = d1.div(d2)

In [86]:
# indexs not present in the other dataframe get a NaN
d3.style.highlight_null(null_color='red')

In [87]:
# sub
d4.style.highlight_null(null_color='red')

In [88]:
# mul
d5.style.highlight_null(null_color='red')

In [89]:
# div
d6.style.highlight_null(null_color='red')

### removing the NaN values from the resultant dataframe

In [91]:
# the + operation is UNION of indexes
d31 = d1+d2
# indexs not present in the other dataframe get a NaN
# do you can obvs remove nan values like before
d3.dropna().style.highlight_null(null_color='red')

## df.align()

Pandas [align](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.align.html) works to join the dataframes in interesting ways.

In [92]:
# align returns two dataframes - left and right as a result of a join
# default join is outer - the union of indices will be used as index for left and right
left, right = d1.align(d2, join='outer')
render_df_side_by_side(left, right)

,A,B
2022-01-01 00:00:00,0.475092,21.000000
2022-01-02 00:00:00,0.703318,21.000000
2022-01-03 00:00:00,0.035437,17.000000
2022-01-04 00:00:00,0.094652,16.000000
2022-01-05 00:00:00,0.807258,14.000000
2022-01-06 00:00:00,0.768598,11.000000
2022-01-07 00:00:00,0.894940,9.000000
2022-01-08 00:00:00,0.131010,19.000000
2022-01-09 00:00:00,0.098831,5.000000
2022-01-10 00:00:00,0.344056,14.000000
2022-01-11 00:00:00,nan,nan
2022-01-12 00:00:00,nan,nan
,A,B
2022-01-01 00:00:00,nan,nan
2022-01-02 00:00:00,nan,nan
2022-01-03 00:00:00,0.463448,7.000000
2022-01-04 00:00:00,0.171931,1.000000
2022-01-05 00:00:00,0.009115,22.000000
2022-01-06 00:00:00,0.247119,13.000000
2022-01-07 00:00:00,0.664701,20.000000
2022-01-08 00:00:00,0.274951,19.000000
2022-01-09 00:00:00,0.443419,11.000000
2022-01-10 00:00:00,0.186490,4.000000
2022-01-11 00:00:00,0.605054,12.000000
2022-01-12 00:00:00,0.306780,13.000000

In [93]:
# inner join
left, right = d1.align(d2, join='inner')
render_df_side_by_side(d1,d2)

,A,B
2022-01-01 00:00:00,0.475092,21
2022-01-02 00:00:00,0.703318,21
2022-01-03 00:00:00,0.035437,17
2022-01-04 00:00:00,0.094652,16
2022-01-05 00:00:00,0.807258,14
2022-01-06 00:00:00,0.768598,11
2022-01-07 00:00:00,0.894940,9
2022-01-08 00:00:00,0.131010,19
2022-01-09 00:00:00,0.098831,5
2022-01-10 00:00:00,0.344056,14
,A,B
2022-01-03 00:00:00,0.463448,7
2022-01-04 00:00:00,0.171931,1
2022-01-05 00:00:00,0.009115,22
2022-01-06 00:00:00,0.247119,13
2022-01-07 00:00:00,0.664701,20
2022-01-08 00:00:00,0.274951,19
2022-01-09 00:00:00,0.443419,11
2022-01-10 00:00:00,0.186490,4
2022-01-11 00:00:00,0.605054,12
2022-01-12 00:00:00,0.306780,13

In [94]:
# we can fill the NaNs with a certain value if needed
# let's fill with -100 so we can see it clearly
left, right = d1.align(d2, join='outer', fill_value = -100) 
render_df_side_by_side(left, right)

,A,B
2022-01-01 00:00:00,0.475092,21
2022-01-02 00:00:00,0.703318,21
2022-01-03 00:00:00,0.035437,17
2022-01-04 00:00:00,0.094652,16
2022-01-05 00:00:00,0.807258,14
2022-01-06 00:00:00,0.768598,11
2022-01-07 00:00:00,0.894940,9
2022-01-08 00:00:00,0.131010,19
2022-01-09 00:00:00,0.098831,5
2022-01-10 00:00:00,0.344056,14
2022-01-11 00:00:00,-100.000000,-100
2022-01-12 00:00:00,-100.000000,-100
,A,B
2022-01-01 00:00:00,-100.000000,-100
2022-01-02 00:00:00,-100.000000,-100
2022-01-03 00:00:00,0.463448,7
2022-01-04 00:00:00,0.171931,1
2022-01-05 00:00:00,0.009115,22
2022-01-06 00:00:00,0.247119,13
2022-01-07 00:00:00,0.664701,20
2022-01-08 00:00:00,0.274951,19
2022-01-09 00:00:00,0.443419,11
2022-01-10 00:00:00,0.186490,4
2022-01-11 00:00:00,0.605054,12
2022-01-12 00:00:00,0.306780,13

In [95]:
# left join: left index is added to right, but not the other way
left, right = d1.align(d2, join='left') 
render_df_side_by_side(left, right)

,A,B
2022-01-01 00:00:00,0.475092,21
2022-01-02 00:00:00,0.703318,21
2022-01-03 00:00:00,0.035437,17
2022-01-04 00:00:00,0.094652,16
2022-01-05 00:00:00,0.807258,14
2022-01-06 00:00:00,0.768598,11
2022-01-07 00:00:00,0.894940,9
2022-01-08 00:00:00,0.131010,19
2022-01-09 00:00:00,0.098831,5
2022-01-10 00:00:00,0.344056,14
,A,B
2022-01-01 00:00:00,nan,nan
2022-01-02 00:00:00,nan,nan
2022-01-03 00:00:00,0.463448,7.000000
2022-01-04 00:00:00,0.171931,1.000000
2022-01-05 00:00:00,0.009115,22.000000
2022-01-06 00:00:00,0.247119,13.000000
2022-01-07 00:00:00,0.664701,20.000000
2022-01-08 00:00:00,0.274951,19.000000
2022-01-09 00:00:00,0.443419,11.000000
2022-01-10 00:00:00,0.186490,4.000000

In [96]:
# right join: right index is added to left, but not the other way
left, right = d1.align(d2, join='right') 
render_df_side_by_side(left, right)

,A,B
2022-01-03 00:00:00,0.035437,17.000000
2022-01-04 00:00:00,0.094652,16.000000
2022-01-05 00:00:00,0.807258,14.000000
2022-01-06 00:00:00,0.768598,11.000000
2022-01-07 00:00:00,0.894940,9.000000
2022-01-08 00:00:00,0.131010,19.000000
2022-01-09 00:00:00,0.098831,5.000000
2022-01-10 00:00:00,0.344056,14.000000
2022-01-11 00:00:00,nan,nan
2022-01-12 00:00:00,nan,nan
,A,B
2022-01-03 00:00:00,0.463448,7
2022-01-04 00:00:00,0.171931,1
2022-01-05 00:00:00,0.009115,22
2022-01-06 00:00:00,0.247119,13
2022-01-07 00:00:00,0.664701,20
2022-01-08 00:00:00,0.274951,19
2022-01-09 00:00:00,0.443419,11
2022-01-10 00:00:00,0.186490,4
2022-01-11 00:00:00,0.605054,12
2022-01-12 00:00:00,0.306780,13

There's more to explore in align, and it can get confusing, so beginners be careful, take time and try to work out the result before you execute to build intuition.

# Operations on data

## Stats

Operations in general exclude missing data

In [97]:
# arithmetic mean, for each column (axis = 0)
df.mean()

A     0.016421
B     0.144009
C     0.110820
D    -0.118516
F    15.500000
dtype: float64

In [98]:
# mean across a row (axis = 1)
df.mean(1)

2022-06-19    2.384583
2022-06-20    1.873694
2022-06-21    2.334610
2022-06-22    3.606738
2022-06-23    2.969757
2022-06-24    3.045746
2022-06-25    3.855570
2022-06-26    3.356419
2022-06-27    4.215859
2022-06-28    3.662489
Freq: D, dtype: float64