In [1]:
import numpy as np
import pandas as pd

# Object creation

In [2]:
# Series - pass a list to pd.Series
s1 = pd.Series([1,2,3,np.nan,5])

In [4]:
s1

0    1.0
1    2.0
2    3.0
3    NaN
4    5.0
dtype: float64

In [9]:
# create an index to use in the dataframe
# default frequency is D (day), so creates a DatetimeIndex of 10 days
dates = pd.date_range('20220619', periods=10)
dates

DatetimeIndex(['2022-06-19', '2022-06-20', '2022-06-21', '2022-06-22',
               '2022-06-23', '2022-06-24', '2022-06-25', '2022-06-26',
               '2022-06-27', '2022-06-28'],
              dtype='datetime64[ns]', freq='D')

In [10]:
# Dataframe - pass a Numpy array
# create a 10 row, 4 col random number array, index by dates, give some column names
df = pd.DataFrame(np.random.randn(10,4), index = dates, columns = list('ABCD'))
df

                   A         B         C         D
2022-06-19 -1.072325 -1.046005 -0.003978  0.511407
2022-06-20  1.240048  1.289383  0.003928  0.219628
2022-06-21  0.611471  1.074300 -0.095557 -1.576244
2022-06-22  0.441314  0.738755  0.424051  1.427570
2022-06-23 -1.003586 -0.351290 -0.596840  1.415009
2022-06-24  0.677987  0.085579  0.105735  0.774904
2022-06-25 -0.941332 -0.495097  0.403465  1.993419
2022-06-26 -0.709616  1.190575  0.223282 -0.552828
2022-06-27  0.655756  0.697084  0.081403  0.524118
2022-06-28  0.978310  0.550906  0.692504  0.308789